@import '~antd/dist/antd.css';

.content{
    margin-left: 5px;
}

.description{
    margin-top: 25px;
}

.ant-layout-content {
    text-align: center;
}

.mainview{
    text-align: center;
    height: 100%;
    
}