@import '~antd/dist/antd.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


p {
  margin: 0;
}

.collapse-list{
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px;
  margin-bottom: 10px;

}

.title {
  display: flex; 
  align-items: center;
  flex-direction: row;
  margin: 10px;
  background-color: white;
  position: sticky;
  top:"0";
}

.title-name{
  margin-top: 10px;
  font-size: 30px;
  font-family: 'Glegoo', serif;
}

.ant-layout-footer{
  background-color: white;
  width: 100%;
}

.ant-layout{
  background-color: white;
}


.downloadButton{
  margin-left: 5px;
}

.projectsbutton{
  margin-top: 8px;
  margin-bottom: 10px;
}

.projectsElement{
  margin-left: 20px;
  margin-right: 5px;
}

